.distribuicaoMain {
    /* background-color: aqua; */
    padding: 20px;
    flex: 1;
    min-height: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
    overflow-y: auto;
}

.distribuicaoBloco {
    background-color: var(--corJanela);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.auxiliarAreaBloco {
    /* background-color: gray; */
    flex: 1;
    display: flex;
}

.auxiliarAreaBloco .esquerda {
    width: 50%;
    color: var(--textoCor);
}

.auxiliarAreaBloco .direita {
    width: 50%;
    height: 80%;
    /* background-color: aquamarine; */
}