.episBlocos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    flex: 1;
}

.blocoEpi {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform ease-in-out 0.1s;
    width: 250px;
    height: 300px;
}

.blocoEpi h3 {
    color: var(--azulDestaque);
    /* margin-bottom: 5px; */
}

.blocoEpi:hover {
    transform: scale(1.03);
}

.blocoEpi img {
    height: 65%;
    margin: 10px 0px;
    /* width: 40px; */
    /* margin-bottom: 10px; */
}

@media (max-width: 1000px) {
    .episBlocos {
        height: auto;
        flex: none;
    }
}

@media (max-width: 500px) {
    .blocoEpi {
        width: 90%;
    }
}