.dashboardMain {
    background-color: var(--corJanela);
    width: 100%;
    height: 100dvh;
    box-sizing: border-box;
    display: flex;
    /* overflow: hidden; */
    /* padding: 10px; */
}

.principalDash {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    /* height: 100%; */
    background-color: var(--backgroundjanela);
    box-sizing: border-box;
}

.superiorDash {
    background-color: var(--corJanela);
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: solid 1px var(--bordaCor);
}

.blocosDash {
    /* background-color: gray; */
    /* height: 100%; */
    flex: 1;
    /* height: 100%; */
    box-sizing: border-box;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-rows: minmax(100px, 250px);*/
    grid-auto-rows: 100px;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
}

.bloco {
    background-color: var(--corJanela);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.tituloBloco {
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    font-size: clamp(12px, 2vw, 14px);
}

.bloco .auxiliarGrafico {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    height: 80%;
    /* background-color: gray; */
}

.botaoVerImagem {
    width: 90%;
    /* background-color: var(--bordaCor); */
    /* border: none; */
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
}

.inforOcorrenciasHora {
    grid-column: span 3;
    grid-row: span 2;
}

.distribuicaoPorCamera {
    grid-column: span 2;
    grid-row: span 3;
}

.analiseEstatistica {
    grid-column: span 2;
    grid-row: span 2;
}

.inforEstatistica {
    /* background-color: gray; */
    width: 100%;
    height: 100%;
    color: var(--textoCor);
}

.falsosPositivos {
    grid-row: span 2;
}

.ocorrenciasPorTipo {
    grid-column: span 2;
    grid-row: span 4;
}

.ultimasOcorrencias {
    grid-column: span 3;
    grid-row: span 2;
    overflow-y: auto;
}

.tabelaUltimasOcorrencias {
    width: 90%;
    border: none;
}

.tabelaUltimasOcorrencias th {
    padding: 5px 0px;
    /* background-color: aqua; */
}

.tabelaUltimasOcorrencias td {
    padding: 5px 0px;
}

.historicoCompleto {
    grid-column: span 5;
    grid-row: span 3;
    overflow: auto;
}

.naoConfirmado {
    background-color: red;
    color: white;
    margin: 0px 3px;
    border-radius: 4px;
}

.analise {
    background-color: darkorange;
    color: white;
    margin: 0px 3px;
    border-radius: 4px;
}

.confirmado {
    background-color: green;
    color: white;
    margin: 0px 3px;
    border-radius: 4px;
}

@media (max-width: 1200px) {
    .blocosDash {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 100px;
    }

    .ocorrenciasPorTipo {
        grid-column: span 5;
        grid-row: span 3;
    }

    .analiseEstatistica {
        grid-column: span 3;
    }

    .falsosPositivos {
        grid-column: span 2;
    }

    .ultimasOcorrencias {
        grid-column: span 5;
        grid-row: span 2;
    }
}

@media (max-width: 1000px) {

    .dashboardMain {
        flex-direction: column;
    }

    /* .blocosDash {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 150px;
    } */

    .inforOcorrenciasHora {
        grid-column: span 4;
        grid-row: span 2;
    }

    .falsosPositivos {
        grid-column: span 4;
    }

    .distribuicaoPorCamera {
        grid-column: span 4;
        grid-row: span 3;
    }

    .historicoCompleto {
        grid-column: span 4;
        grid-row: span 3;
    }

    .ocorrenciasPorTipo {
        grid-column: span 4;
    }

    .ocorrenciasPorTipo .auxiliarGrafico {
        width: 70%;
    }

    .cameraCritica {
        grid-column: span 2;
    }

    .analiseEstatistica {
        grid-column: span 4;
    }

    .blocosDash {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 100px;
    }

    .historicoCompleto {
        grid-column: span 4;
    }

    .ultimasOcorrencias {
        grid-column: span 4;
    }

}

@media (max-width: 720px) {

    .historicoCompleto {
        justify-content: left;
        align-items: first baseline;
    }

    .historicoCompleto .tabelaUltimasOcorrencias {
        width: 200%;
    }


    .blocosDash {
        grid-template-columns: 1fr;
        grid-auto-rows: 100px;
    }

    .ocorrenciasPorTipo .auxiliarGrafico {
        width: 100%;
    }

    .inforOcorrenciasHora,
    .distribuicaoPorCamera,
    .analiseEstatistica,
    .falsosPositivos,
    .ocorrenciasPorTipo,
    .ultimasOcorrencias,
    .historicoCompleto,
    .cameraCritica {
        grid-column: span 1;
    }

    table {
        font-size: 13px;
    }
}

/* @media (max-width: 700px) {
    .cameraCritica {
        grid-column: span 2;
    }

    .blocosDash {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 150px;
    }
} */