body,
html,
form,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

input {
  padding: 5px;
  border-radius: 10px;
  border: solid 1px var(--bordaCor);
  background-color: var(--backgroundjanela);
}

button {
  background-color: var(--azulDestaque);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: solid 1px var(--azulDestaque);
  transition: background-color 0.1s ease-in-out;
}

button:hover {
  background-color: var(--backgroundjanela);
  color: var(--azulMaisEscuro);
  border: solid 1px var(--azulMaisEscuro);
}

:root {
  --corJanela: #F4F4FF;
  --backgroundjanela: #D4DBED;
  --bordaCor: #a7abb5;
  --textoCor: #727376;
  --azulDestaque: #0A1E3F;
  --azulMaisEscuro: #000c1f;
}