@font-face {
  font-family: 'OpenSans';
  /* src: url('../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf'); */
  src: url('../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  /* src: url('../public/fonts/Roboto-VariableFont_wdth\,wght.ttf'); */
  src: url('../public/fonts/Roboto-VariableFont_wdth\,wght.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body,
html,
form,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--backgroundjanela);
}

body {
  font-family: 'Roboto', 'OpenSans', Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
  /* font-weight: bolder; */
  font-family: 'Roboto Black';
}

hr {
  color: var(--azulDestaque);
  width: 100%;
}

input {
  padding: 5px;
  border-radius: 10px;
  border: solid 1px var(--bordaCor);
  background-color: var(--backgroundjanela);
}

button {
  background-color: var(--azulDestaque);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: solid 1px var(--azulDestaque);
  transition: background-color 0.1s ease-in-out;
}

button:hover {
  background-color: var(--backgroundjanela);
  color: var(--azulMaisEscuro);
  border: solid 1px var(--azulMaisEscuro);
}

table {
  /* border: solid 1px var(--bordaCor); */
  border-collapse: collapse;
}

tr,
tbody,
thead,
td,
th {
  border: none;
  margin: 0;
  padding: 0;
}

td,
th {
  border: solid 1px var(--bordaCor);
  margin: 0;
  padding: 0;
  text-align: center;
  /* border-right: solid 1px var(--bordaCor); */
}

:root {
  --corJanela: #F4F4FF;
  --backgroundjanela: #D4DBED;
  --bordaCor: #a7abb5;
  --textoCor: #727376;
  --azulDestaque: #0A1E3F;
  --azulMaisEscuro: #000c1f;
}